.airquality-container h3 { /* Текст Якість повітря*/
  color: #333;
}

.airquality-container h3 span { /*Текст станції*/
  color: #07df00;
}

.airquality-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /*Тінь*/
  border-radius: 10px;
  overflow: hidden;
}

.airquality-table th {  /*Заголовок Таблиці*/
  background-color: #0078D7;
  color: white;
  padding: 10px;
  border: 1px solid #ddd; /*Обведення-злагодження кутів*/
}

.airquality-table td { /*Контури таблиці*/
  padding: 10px;
  border: 1px solid #ddd; 
}

.airquality-table tr:nth-child(even) td { /*Кожен другий рядок світліший*/
  background-color: #f9f9f9;
}

.airquality-table td:nth-child(1) { /*Ствопець з Параметрами*/
  font-weight: bold;
  text-align: left;
  background-color: #f4f4f4;
}

.airquality-table td:nth-child(2) { /*Ствопцець з Значеннями*/
  text-align: center;
  color: #00a1f8;
  font-weight: bold;
  background-color: #fff;
}

.info-text { /*Текст Оберіть станцію, щоб переглянути дані про якість повітря.*/
  text-align: center;
  font-style: italic;
  color: #555;
}

.error-text { 
  color: red;
  text-align: center;
  font-weight: bold;
}
